body {
    background-color: #f8f9fa;
  }

  .custom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0F3DA6;
  }

  .custom-form {
    background-color: white;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  input, button {
    width: 450px;
  }
  select{
    width: 450px;
    height: 35px;
  }
  
