<div class="LoginMain">
    <div class="LoginMain1">
        <img src="../../../assets/Login.png" alt="Login">
    </div>
    <div class="LoginMain2">
        <h1>Login</h1>
        <h2>Hello <span>Welcome!</span></h2>
        <div class="container" >
            
            <form (ngSubmit) = "onSubmit()">


              <div class="mb-3">
                <label for="userName" class="" >Username</label>
                <input type="text" class="form-control" id="userName" [(ngModel)] = "userobj.userName">
              </div>


              <div class="mb-3">
                <label for="userPassword" class="">Password</label>
                <input type="password" class="form-control" id="userPassword"  [(ngModel)] = "userobj.userPassword">
              </div>

              
              <button type="submit" class="btn btn-primary mb-1">Login</button><br>
              <small>Not a Member? <a (click)="navigateToSignup()">SignUp</a></small>
          
            </form>
          </div>
          
        
    </div>
</div>



  